#headerSection {
	margin: -20px 0 20px;
	color: #FAFAFA;
	padding: 10px 10px;
	box-shadow: 0 0 7px #000;
  background: gray;
} 
#headerSection a {
  color: white !important;
  text-decoration: underline;
}